<section class="table1 section-table cid-rJfBbhIXcd" id="table1-9">
  <div class="container-fluid">
    <div class="media-container-row align-center">
      <div class="col-12 col-md-12">
        <div class="table-wrapper" style="width: 88%;">
          <div class="container-fluid">
          </div>
          <div class="container-fluid scroll">
            <table class="table table-striped" cellspacing="0">
              <thead>
                <tr class="table-heads">
                  <th class="head-item mbr-fonts-style display-4">#</th>
                  <th class="head-item mbr-fonts-style display-4">Product Name</th>
                  <th class="head-item mbr-fonts-style display-4">In Stock</th>
                  <th class="head-item mbr-fonts-style display-4">Rented</th>
                  <th class="head-item mbr-fonts-style display-4">Ordered</th>
                </tr>
              </thead>
              <tbody>
                {{#each rows}}
                <tr>
                  <td><center>{{this.id}}</center></td>
                  <td><center>{{this.pname}}</center></td>
                  <td><center>{{this.qin}}</center></td>
                  <td><center>{{this.qrented}}</center></td>
                  <td><center>{{this.qordered}}</center></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="container-fluid table-info-container">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
